/*this is the back ground colour*/
body {
  background-color: #f3d5c0;
}
h2 {
  /*this made the main header larger*/
  padding: 20px;
  /*this changed the color of the main header*/
  background-color: #d4b499;
  /*this made the text in the center*/
  text-align: center;
  /*this made the text larger*/
  font-size: 40px;
  /*this made the text a spicifec font so its eayser to read*/
  font-family: Georgia, "Times New Roman", Times, serif;
  /*this changed the color of the font*/
  color: #1a374d;
}
h3 {
  /*this changed the color of the text*/
  color: #1a374d;
  /*this made sure the text was on the left*/
  text-align: left;
  /*this made the font larger*/
  font-size: 30px;
  /*this changed the font to one easyer to read*/
  font-family: Georgia, "Times New Roman", Times, serif;
}
p {
  /*this changed the color of the text*/
  color: #1a374d;
  text-align: left;
  font-size: 20px;
  font-family: Georgia, "Times New Roman", Times, serif;
}
ul {
  padding: 20px;
  font-size: 20px;
  font-family: Georgia, "Times New Roman", Times, serif;
  background-color: #1a374d;
  color: #d4b499;
}
#section-1 {
  background-color: #d4b499;
}
#section-2 {
  padding: 20px;
  background-color: #1a374d;
}
a {
  color: #d4b499;
  background-color: #1a374d;
  padding: 20px;
  text-decoration: none;
}
li {
  display: inline;
}
a:hover {
  padding: 20px;
  background-color: #d4b499;
  color: #1a374d;
}
div.polaroid {
  width: 80%;
  background-color:#1a374d;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin-bottom: 25px;
}
div.container {
  text-align: center;
  padding: 10px 20px;
}
h4{
  color: #d4b499;
  text-align: right;
  font-size: 20px;
  font-family: Georgia, "Times New Roman", Times, serif;
}
